# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build files
build/
dist/

# Editor/OS files
.DS_Store
.vscode/
.idea/
*.log
*.swp

# Environment variables
.env
.env.local

# Python Virtual Environment
venv/
__pycache__/

# PlatformIO for ESP32
.pio/
*.elf

# NPM lock file (if using Yarn)
package-lock.json
yarn.lock
